{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <!-- 回收站 -->
    <div class="recycle">
        <div class="recycleTitle">
            <ul>
                <li><a href="{% url 'recycle' %}">上课信息</a></li>
                <li><a href="{% url 'recycle_stu' %}">学生信息</a></li>
                <li style="background:#fcb636;"><a href="{% url 'recycle_teacher' %}" style="color:#fff !important;">老师信息</a></li>
                <li><a href="{% url 'recycle_register' %}">报名信息</a></li>
            </ul>
        </div>
        <div class="re_button">
            <input type="button" value="还原">
            <input type="button" value="删除">
        </div>
        <div class="teacherrecycleContent recycleContent">
            <div class="recycleContentTitle">
                <ul style="margin-bottom: 0px;">
                    <li>
                        <input type="checkbox" class="all" style="width:20px;height: 20px;vertical-align: middle;margin-right: 20px;">
                        <span>教师姓名</span>
                        <span>姓</span>
                        <span>名</span>
                        <span>联系方式</span>
                        <span style="margin-left: 30px;">教师工号</span>
                        <span>删除日期</span>
                    </li>
                </ul>
            </div>
            <div class="recycleMain">
            <form action="" id="teacher_info_trash" method="post">
            {% csrf_token %}
                <ul>
                    {% for teacher in object_list %}
                        <li>
                            <input type="checkbox" name='hxy' value="{{ teacher.id }}" style="width:20px;height: 20px;vertical-align: middle;margin-right: 20px;">
                            <span>{{ teacher.name }}</span>
                             <span>{{ teacher.first_name }}</span>
                            <span>{{ teacher.last_name }}</span>
                            <span>{{ teacher.phone }}</span>
                            <span style="margin-left: 30px;">{{ teacher.employee_num }}</span>
                            <span>{{ teacher.delete_date | date:"Y/m/d"}}</span>
                        </li>
                    {% endfor %}
                </ul>
                </form>
            </div>
            {% include "_pagination.html" %}
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script>

     var re_btn = $('.recycle .re_button');
        {#    点击checkbox，再点击右上角还原按钮，再点击确定之后，#}
        {#    提交form表单#}
        $(function () {
            re_btn.find('input[value="还原"]').click(function () {
                var $InputChecked=$("#teacher_info_trash").find("input[name='hxy']:checked")
                if($InputChecked.length<1){
                   $(".recycle_tip").show(100).delay(1000).hide(100);
                    $('#recycle_cover').hide();
                    $("#recycle_modal").hide()
                }else{
                     /**点击取消*/
                     $("#recycle_rec_cancel").click(function () {
                        for(var i=0;i<$InputChecked.length;i++){
                            $($InputChecked[i]).attr("checked","checked").prop("checked",false)
                        }
                     })

                     /**点击确定*/
                     $("#recycle_redo").click(function () {
                    $("#teacher_info_trash").attr("action", "{% url 'teachertrashredo' %}").submit();
               })
                }

            });

              re_btn.find('input[value="删除"]').click(function () {
                var $InputChecked=$("#teacher_info_trash").find("input[name='hxy']:checked")
                if($InputChecked.length<1){
                    $(".del_tip").show(100).delay(1000).hide(100);
                    $('#recycledeletecover').hide();
                    $("#recycledeletemodal").hide();
                }else{
                     /**点击取消*/
                    $("#recycle_del_cancel").click(function () {
                        for(var i=0;i<$InputChecked.length;i++){
                            $($InputChecked[i]).attr("checked","checked").prop("checked",false)
                        }
                    })


                    /**点击确定*/
                    $(".smallModal_content").find("#delete_forever").click(function () {
                    $("#teacher_info_trash").attr("action", "{% url 'teacher_info_trash_delete_forever' %}").submit();
                })
                }

            });

            /**单个还原教师信息*/
           $(".comeback").click(function () {
                var teacher_info_id=$(this).attr("teacher_info_id")
                $(".smallModal_content").find("#recycle_redo").click(function () {
                       $.ajax({
                        url: "{% url 'teachertrashredo' %}",
                        type: "GET",
                        data: {"teacher_info_id": teacher_info_id},
                        success: function (data) {
                            if (data.status == "success") {
                                location.href = "{% url 'recycle_teacher' %}"
                            } else {
                                alert("添加操作人员失败")
                            }
                        }
                    })

                });
            });


            /**回收站单个教师信息删除*/
            $(".delete").click(function () {
                var teacher_info_id=$(this).attr("teacher_info_id")
                $(".smallModal_content").find("#delete_forever").click(function () {
                    $.ajax({
                        url: "{% url 'teacher_info_trash_delete_forever' %}",
                        type: "GET",
                        data: {"teacher_info_id": teacher_info_id},
                        success: function (data) {
                            if (data.status == "success") {
                                location.href = "{% url 'recycle_teacher' %}"
                            } else {
                                alert("添加操作人员失败")
                            }
                        }
                    })



            });

        });

        })
    </script>
{% endblock %}